@import "nullstyle"; 
@import "../../css/stylesheet"; 



//-----variables----------------------------------------
//-----fonts----------
// $font-1: Nunito Sans; // (300 400, 600, 700, 800)
// //-----colors---------
// $color1:#18121E; //text
// $color2:#FFFFFF; //bg
// $color3:#1A3E3E; //bg button
//------------------------------------------------

 

.db {display: block;}
.dn {display: none;}

.hide {
  opacity: 0%;
  transition: all 0.3s ease 0s;
}
.show {
  opacity: 100%;
  transition: all 0.3s ease 0s;
}

.hover {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  & * {
    transition: all 0.3s ease 0s;
  }
  @media (min-width: 768px) {
    &:hover {
      color: #61a496;
      transition: all 0.3s ease 0s;
      & * {
        transition: all 0.3s ease 0s;
        color: #61a496;
        fill: #61a496;
      }
    }
  }
  &:active {
    color: #4AF6CD;
    transition: all 0s ease 0s;
    & * {
      color: #4AF6CD;
      fill: #4AF6CD;
      transition: all 0s ease 0s;
    }
  }
}

html,
body{
	height: 100%;
  background: #171919;
  color: #FFF;
  text-transform: uppercase;
  font-family: Fira Sans;
  position: relative;
  z-index: -1;
  & a {
    color: #FFF;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
	min-height: 100%;
	overflow: hidden;
} 

//-------- блоки --------------------------------

.title-block {
  &__container {
    display: inline-flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    position: relative;
  }
  &__line {
    margin: 0px 0px 13px 0px;
    width: 80px;
    height: 1px;
    background: #4AF6CD;
  }
  &__title {
    font-size: 80px;
    font-weight: 800;
    @media (max-width: 767px) or (max-height: 900px) {
      font-size: 40px; 
    }
  }
  &__shadow {
    position: absolute;
    top: 0;right: 0;
    font-size: 200px;
    font-weight: 800;
    opacity: 0.02;
    @media (max-width: 767px) or (max-height: 900px) {
      font-size: 80px; 
    }
  }
}

.subtitle-block {
  position: relative;
  z-index: 10;
  &__top-text {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 7.333px;
    margin: 0px 0px 8px 0px;
    opacity: 0.5012;
    @media (max-width: 767px) {
      font-size: 8px; 
    }
  }
  &_al-r {
    text-align: right;
    .subtitle-block__subtitle {
      justify-content: end;
    }
    .subtitle-block__top-text {
      &::before {
        content: "\a0\a0\a0\a0\a0";
        text-decoration: line-through;
        padding-right: 23px;
      }
    }
  }
  &_al-l {
    .subtitle-block__top-text {
      &::after {
        content: "\a0\a0\a0\a0\a0";
        text-decoration: line-through;
        padding-left: 23px;
      }
    }
  }
  &__subtitle {
    font-size: 40px;
    font-weight: 800;
    display: flex;
    align-items: center;
    column-gap: 26px;
    @media (max-width: 767px) {
      font-size: 18px; 
      column-gap: 12px;
    }
    @media (max-width: 512px) or (max-height: 900px) {
      font-size: 16px; 
    }
  }
  &__subtitle-text {}
  &__subtitle-logo {
    width: 56px;
    height: 56px;
    @media (max-width: 768px) {
      width: 20px;
      height: 20px;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__subtitle-rating {
    display: flex;
    column-gap: 5px;
    & img {
      width: 22px;
      height: 22px;
      object-fit: contain;
    }
  }
}

.two-words {
    cursor: pointer;
    position: relative;
    z-index: 100;
    height: 80px;
    font-size: 40px;
    font-weight: 800;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    @media (max-width: 768px) {
      font-size: 20px;
      height: 40px;
    }
    @media (max-height: 1180px) {
      font-size: 20px;
      height: 40px;
    }
  &__left {
    &::after {
      content: "\a0";
    }
  }
  &__right {
    padding: 0px 0px 0px 0px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__right-text {
    z-index: 1;
  }
  &__right-bg {
    width: 100%;
    height: 100%;
    background: #4AF6CD;
    position: absolute;
    top: 0;left: 16px;
    z-index: -1;
    transition: all 0.2s ease 0.1s;
    @media (max-width: 768px) {
      left: 8px;
    }
    @media (max-height: 1180px) {
      left: 8px;
    }
  }
}
.two-words:hover {
  .two-words__right-bg {
    background: #61a496;
    transform: translateX(-50%);
    transition: all 0.2s ease 0.1s;
    
  }
}

.arrows {
  display: flex;
  column-gap: 25px;
  z-index: 20;
  position: relative;
  
  & img {
    padding: 10px;
    width: 44px;
    height: 40px;
  }
  &__arrow {
    padding: 10px;
    width: 60px;
    font-size: 50px;
    font-weight: 800;
    line-height: 65%;
    overflow: hidden;
    position: relative;
    left: 30px;
    &:nth-child(2) {
      transform: rotateY(180deg);
    }
    @media (max-width: 768px) or (max-height: 900px) {
      width: 30px;
      font-size: 30px;
    }
  } 
}



//----- header -------------

.header {
  position: absolute;
  top: 0;left: 0;
  width: 170px;
  height: 100dvh;
  border-right: 1px solid rgba(255, 255, 255, 0.2515);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0px 0px 45px 0px;
  @media (max-height: 1024px) {
    width: 130px;
  }
  @media (max-width: 768px) {
    height: auto;
    width: 100%;
    row-gap: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2515);
    padding: 0px 0px 0px 0px;
  }
  &__logo {
    width: 100%;
    writing-mode: vertical-rl;
    transform: scale(-1);
    font-size: 60px;
    font-weight: 800;
    display: flex;
    justify-content: end;
    @media (max-height: 1024px) {
      font-size: 30px;
    }
    @media (max-width: 768px) {
      writing-mode: horizontal-tb;
      transform: none;
      height: 50px;
      font-size: 30px;
    }
  }
  &__first-word {
    &::after {
      content: "\a0";
    }
    display: flex;
    align-items: center;
    padding: 22px 0px 0px 0px;
    @media (max-width: 768px) {
      padding: 0;
    }
  }
  &__second-word {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    padding: 0px 0px 22px 0px;
    @media (max-width: 768px) {
      padding: 0px 22px 0px 0px;
      width: calc(50% + 12px);
    }
    &::before {
      content: "—\a0";
    }
  }
  &__bg-word {
    position: absolute;
    bottom: 0;right: 0; 
    z-index: -1;
    width: 100%;
    height: calc(100% - 24px);
    background: #4AF6CD;
    @media (max-width: 768px) {
      height: 100%;
      width: calc(100% - 12px);
    }
  }
  &__menu {
    margin: 0px 0px 38px 0px;
    flex: 1 1 auto;
    display: flex;
    align-items: end;
    @media (max-width: 768px) {
      width: 100%;
      margin: 0px 0px 20px 0px;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 37px;
    @media (max-width: 768px) {
      padding: 0px 20px;
      width: 100%;
      flex-direction: row;
      column-gap: 20px;
      justify-content: space-between;
    }
  }
  &__li {
    position: relative;
    z-index: 100;
    transition: all 0.3s ease 0s;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    row-gap: 5px;
    & svg {
      width: 50px;
      height: 50px;
      @media (max-height: 1024px) {
        width: 40px;
        height: 40px;
      }
    }
  }
  &__link-text {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 116.667%; 
    letter-spacing: 3px;
  }
  &__search {
    margin: 0px 0px 38px 0px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__date {
    margin: 0px 0px 30px 0px;
    width: 40%;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__day {
    font-size: 72px;
    font-weight: 800;
    line-height: 88.889%;
    margin: 0px 0px 13px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-height: 1024px) {
      font-size: 30px;
    }
  }
  &__date-addition {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__month {}
  &__year {}
  &__location {
    position: relative;
    z-index: 100;
    font-size: 12px;
    font-weight: 300;
    line-height: 116.667%; 
    letter-spacing: 1.05px;

    display: flex;
    column-gap: 8px;

    @media (max-width: 768px) {
      display: none;
    }
  }
  &__location-icon {}
  &__location-text {}
}


//----- page -----------


.page {
  width: 100%;
  height: 100%;
}
.block {
  width: 100%;
  height: 100%;
}



//----- main-block ----------

.main-block {
  height: 100dvh;
  text-align: right;
  padding: 40px 80px 30px 209px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;
  @media (max-width: 768px) {
    padding: 20px 30px 20px 30px;
  }
  &__arrows-up {
    //display: none;
    justify-content: end;
    position: relative;
    z-index: 10000;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__top-text {
    flex: 1 1 auto;
    font-size: 22px;
    font-weight: 400;
    line-height: 145.455%;
    letter-spacing: 7.333px;
    margin: 0px 0px 5px 0px;
    opacity: 0.5012;
    display: flex;
    justify-content: end;
    align-items: end;
    &::before {
      content: "\a0\a0\a0\a0\a0";
      text-decoration: line-through;
      padding-right: 23px;
    }
    @media (max-height: 812px) {
      font-size: 18px;
    }
  }
  &__title {
    font-size: 80px;
    font-weight: 800;
    line-height: 107.5%;
    margin: 0px 0px 48px 0px;
    @media (max-height: 812px) {
      font-size: 40px;
    }
  }
  &__subtitle-block {
    @media (max-height: 812px) {
      & .subtitle-block {
        display: none;
        &__top-text {
          font-size: 18px;
          margin: 0px 0px 0px 0px;
        }
        &__subtitle {
          font-size: 20px;
        } 
      }
    }
  }
  &__arrows-bottom {
    justify-content: end;
    margin: 0px 0px 40px 0px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__down-arrow {
    position: relative;
    z-index: 100;
    @media (max-width: 768px) {
      display: none;  
    }
    & svg {
      width: 20.25px;
      height: 23.896px;
    }
  }
  &__items {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    column-gap: 40px;
    position: relative;
    z-index: 10;
  }
  &__item {}
  &__bg {
    background: #000;
    position: absolute;
    top: 0;left: 0;
    z-index: -1;
    width: 100%;
    height: 100dvh;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__bg-gradient {
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100dvh;
    z-index: -1;
    background: radial-gradient(62.09% 62.09% at 42.87% 49.23%, rgba(34, 34, 34, 0.43) 0%, #0F0F0F 100%);
  }
  &__map-block{

  }
  &__opacity-block {
    margin: -20px 0px 0px 0px;
    text-align: left;
    width: 467px;
    position: absolute;
    top: 0;left: 0;
    z-index: -1;
    font-size: 200px;
    font-weight: 800;
    opacity: 0.0654;
    @media (max-width: 768px) {
      display: none;  
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      overflow: hidden;
    }
  }
}

.item-main-block {
  width: 200px;
  border-top: 4px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  @media (max-width: 1064px) {
    width: 150px;
  }
  @media (max-width: 878px) {
    width: 110px;
    justify-content: center;
  }
  @media (max-width: 480px) {
    width: 60px;
  }
  &__namber {
    font-size: 24px;
    font-weight: 800;
    line-height: 141.667%;
    @media (max-width: 878px) {
      display: none;
    }
  }
  &__name {
    font-size: 16px;
    font-weight: 300;
    line-height: 118.75%;
    text-align: center;
  }
  &_shosen {
    border-top: 4px solid #4AF6CD;
  }
}

.left {
  justify-content: flex-start;
}
.right {
  justify-content: flex-end;
}



.map-block {
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 50dvh;
  z-index: 1000;
  @media (max-width: 768px) {
    display: none;
  }
  &__map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
    // &:nth-child(1) {
    //   //display: none;
    //   & svg {
    //     right: 0;
    //     width: 1400px;
    //     height: 700px;
    //     @media (max-width: 1648px) or (max-height: 1192px) {
    //       width: 1000px;
    //       height: 500px;
    //     }
    //     @media (max-width: 1240px) or (max-height: 995px) {
    //       width: 800px;
    //       height: 400px;
    //     }
    //     @media (max-width: 1028px) or (max-height: 853px) {
    //       width: 580px;
    //       height: 290px;
    //     }
    //   }
    // }
    // &:nth-child(2) {
    //   display: none;
    //   & svg {
    //     left: 0;
    //     width: 1800px;
    //     height: 900px;
    //     @media (max-width: 1648px) or (max-height: 1192px) {
    //       width: 1600px;
    //       height: 800px;
    //     }
    //     @media (max-width: 1240px) or (max-height: 995px) {
    //       width: 1400px;
    //       height: 700px;
    //     }
    //     @media (max-width: 1028px) or (max-height: 853px) {
    //       width: 1000px;
    //       height: 500px;
    //     }
    //   }
    // }
    // &:nth-child(3) {
    //   display: none;
    //   & svg {
    //     top: 5%;
    //     right: -8%;
    //     width: 1650px;
    //     height: 550px;
    //     @media (max-width: 1648px) or (max-height: 1192px) {
    //       width: 1350px;
    //       height: 450px;
    //     }
    //     @media (max-width: 1310px) or (max-height: 995px) {
    //       width: 1200px;
    //       height: 400px;
    //     }
    //     @media (max-width: 1187px) or (max-height: 995px) {
    //       width: 1200px;
    //       height: 400px;
    //     }
    //     @media (max-width: 1187px) {
    //       width: 750px;
    //       height: 250px;
    //       right: -5%;
    //     }
    //   }
    // }
    & svg {
      position: absolute;
      top: 0;

    }
  }

}



.map0 {
  & svg {
    right: 0;
    width: 1400px;
    height: 700px;
    @media (max-width: 1648px) or (max-height: 1192px) {
      width: 1000px;
      height: 500px;
    }
    @media (max-width: 1240px) or (max-height: 995px) {
      width: 800px;
      height: 400px;
    }
    @media (max-width: 1028px) or (max-height: 853px) {
      width: 580px;
      height: 290px;
    }
  }
}
.map1 {
  & svg {
    left: 0;
    width: 1800px;
    height: 900px;
    @media (max-width: 1648px) or (max-height: 1192px) {
      width: 1600px;
      height: 800px;
    }
    @media (max-width: 1240px) or (max-height: 995px) {
      width: 1400px;
      height: 700px;
    }
    @media (max-width: 1028px) or (max-height: 853px) {
      width: 1000px;
      height: 500px;
    }
  }
}
.map2 {
  & svg {
    top: 5%;
    right: -8%;
    width: 1650px;
    height: 550px;
    @media (max-width: 1648px) or (max-height: 1192px) {
      width: 1350px;
      height: 450px;
    }
    @media (max-width: 1310px) or (max-height: 995px) {
      width: 1200px;
      height: 400px;
    }
    @media (max-width: 1187px) or (max-height: 995px) {
      width: 1200px;
      height: 400px;
    }
    @media (max-width: 1187px) {
      width: 750px;
      height: 250px;
      right: -5%;
    }
  }
}


//----- surf -----------

.surf {
  position: relative;
  padding: 10dvh 76px 10dvh 79px;
  width: 100%;
  height: 100dvh;
  @media (max-width: 1024px) {
    padding: 8dvh 26px 8dvh 26px;  
  }
  @media (max-width: 767px) {
    padding: 6dvh 16px 6dvh 16px;  
  }
  &__title-block {
    margin: 0px 0px 13dvh 150px;
    @media (max-width: 767px) {
      margin: 0px 0px 13dvh 50px;
    }
  }
  &__body {
    height: 61dvh;
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 40px;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    @media (max-width: 767px) {
      height: 70dvh;
    }
  }
  &__subtitle-block {
    position: absolute;
    top: -10%; right: 0;
  }
  &__map-block {
    width: 100%;
    height: 100%;
  }
  &__coordinats {
    writing-mode: vertical-rl;
    transform: scale(-1);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 8px;
    text-align: center;
    width: 10px;
    @media (max-width: 1024px) {
      writing-mode: horizontal-tb;
      transform: none;
      width: 100%;
      min-height: 20px;
    }
    @media (max-width: 767px) {
      min-height: 40px;
      font-size: 14px;
    }
  }
  &__opasity-block {
    position: absolute;
    top: 25%;right: -147px;
    overflow: hidden;
    @media (max-width: 767px) {
      display: none;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      overflow: hidden;
    }
  }
}


.surf-map-block {
  width: 100%;
  height: 100%;
  position: relative;
  &__image-desktop {
    position: absolute;
    top: 0;left: 0;
    
    width: 100%;
    height: 100%;
    @media (max-width: 768px) {
      display: none;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__image-mobile {
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    @media (min-width: 768px) {
      display: none;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}



//----- slider -----------

.slider {
  width: 100%;
  height: 100dvh;
  padding: 10dvh 0px 10dvh;
  position: relative;
  &__container {
    width: 100%;
    height: 100%;
    padding: 10dvh 0px 0px 0px;
  }
  &__arrows {
    width: 100px;
    margin: 0px 20px 35px 0px;
    justify-content: end;
    position: absolute;
    right: 4%;
    top: 6dvh;
  }
  &__cards {
   width: 100%;
    height: 100%;
    
  }
  &__slide {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 



    & .two-words {
      z-index: -1;
    }
    &_active {
      & .two-words {
        z-index: 100;
      }
    }
    

    
  }
  &__card {} 
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 72px 40px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #1C2121;
  z-index: -1;
  @media (max-height: 922px) {
    padding: 40px 40px 0px;
  }
  &__title {
    font-size: 40px;
    font-weight: 800;
    line-height: 90%; 
    width: min-content;
    @media (max-width: 546px) {
      font-size: 20px;
    }
  }
  &__location {
    writing-mode: vertical-rl;
    transform: scale(-1);
    font-size: 18px;
    font-weight: 400;
    line-height: 122.222%;
    letter-spacing: 8px;
    @media (max-height: 922px) {
      font-size: 14px;
      letter-spacing: 6px;
    }
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__two-words {
    margin: 0px -40px 0px;
    
  }
  &__bg {
    width: 100%;
    padding: 0px 0px 0px 0px;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
    z-index: -1;
    opacity: 25%;
    transition: opacity 0.5s ease 0s;
    & img { 
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.sliderL::after,
.sliderR::after {
  display: none;
}
.up-slide {
  position: relative;
  top: -5dvh;
}
.slider-active-slide {
  opacity: 65%;
  transition: opacity 0.5s ease 0s;
}



//----- info-block -----------

.info-block {
  padding: 5dvh 0px 5dvh 0px;
  position: relative;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1dvh;
  @media (max-width: 768px) or (max-height: 900px) {
    padding: 3dvh 0px 3dvh 0px;
  }
  &__title-block {
    margin: 0px 0px 0dvh 294px;
    z-index: 10;
    @media (max-width: 768px) {
      margin: 0px 10px 0dvh 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__body {
    height: 40dvh;
    position: relative;
    padding: 5dvh 84px 0px 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 768px) {
      height: 50dvh;
      padding: 5dvh 20px 40px 20px;
    }
    @media (max-width: 400px) {
      height: 30dvh;
    }
  }
  &__body-up {}
  &__body-down {}
  &__subtitle-block {
    &_up {
      text-align: right;
      margin: 0px 0px 0px 0;
    }
    &_down {
      margin: 0 0 0px 0px;
    }
  }
  &__arrows-up {
    justify-content: end;
    right: 30px;
    @media (max-width: 768px) {
      right: 20px;
    }
  }
  &__arrows-down {
    justify-content: start;
    right: 30px;
    @media (max-width: 768px) {
      right: 40px;
    }
  }
  &__bg {
    position: absolute;
    top: 0;left: 0;
    z-index: -1;
    width: 75%;
    height: 100%;
    padding: 1px 1px 1px 0px;
    @media (max-width: 768px) {
      width: 100%;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
    }
  }
  &__box-shadow {
    position: absolute;
    top: 0;left: -25%;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: #1719194b;
    box-shadow: inset 0px 0px 20px 30px #171919, inset 0px 0px 100px 100px #171919;
    @media (max-width: 768px) {
      background: #171919b4;
      box-shadow: inset 0px 0px 10px 20px #171919, inset 0px 0px 50px 50px #171919;
      width: 150%;
    }
  }
  &__image-body {
    position: absolute;
    bottom: 0;right: -5%;
    z-index: 4;
    width: 50%;
    height: 70%;
    @media (max-width: 400px) {
      //display: none;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__items {
    padding: 0px 3% 0px 3%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 10px;
    flex: 0 1 auto;
    @media (max-width: 1280px) {
      padding: 0px 2% 0px 2%;
    }
    @media (max-width: 768px) {
      row-gap: 18px;
      padding: 0px 5% 0px 5%;
      flex-wrap: wrap;
    }
    @media (max-width: 400px) {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }
  &__item {
    &:nth-child(1) {
      flex: 0 0 34%;
      @media (max-width: 768px) {
        flex: 1 1 40%;
      }
      @media (max-width: 400px) {}
    }
    &:nth-child(2) {
      flex: 0 0 21%;
      @media (max-width: 768px) {
        flex: 1 1 40%;
        align-items: end;
        text-align: right;
      }
      @media (max-width: 400px) {
        align-items: start;
        text-align: left;
      }
    }
    &:nth-child(3) {
      flex: 0 0 21%;
      @media (max-width: 768px) {
        flex: 1 1 40%;
      }
      @media (max-width: 400px) {}
    }
    &:nth-child(4) {
      flex: 0 0 27%;
      @media (max-width: 768px) {
        flex: 1 1 40%;
        align-items: end;
        text-align: right;
      }
      @media (max-width: 400px) {
        align-items: start;
        text-align: left;
      }
    } 
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__two-words {}
  &__image {
    position: absolute;
    bottom: 0;right: -8%;
    width: 16%;
    height: 30%;
    overflow: hidden;
    @media (max-width: 768px) {
      display: none;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      overflow: hidden;
    }
  }
}

.item-info {
  display: flex;
  column-gap: 18px;
  @media (max-width: 1280px) {
    column-gap: 12px;
  }
  @media (max-width: 768px) or (max-height: 900px) {
    flex-direction: column;
    height: 85px;
    row-gap: 2px;
  }
  &__vertical-text {
    writing-mode: vertical-rl;
    transform: scale(-1);
    font-size: 18px;
    font-weight: 400;
    line-height: 122.222%;
    letter-spacing: 8px;
    opacity: 0.5;
    text-align: right;
    @media (max-width: 1280px) {
      letter-spacing: 5px;
      font-size: 16px;
    }
    @media (max-width: 992px) {
      font-size: 14px;
    }
    @media (max-width: 768px) or (max-height: 900px) {
    writing-mode: horizontal-tb;
    transform: scale(1);
    text-align-last: left;
    font-size: 12px;
    letter-spacing: 5px;

    }
    @media (max-width: 768px) or (max-height: 900px) {
      font-size: 8px;
    }
  }
  &__gorizontal-text {}
  &__main-text {
    font-size: 40px;
    font-weight: 800;
    @media (max-width: 1280px) {
      font-size: 28px;
    }
    @media (max-width: 992px) {
      font-size: 22px;
    }
    @media (max-width: 768px) or (max-height: 900px) {
      font-size: 18px;
    }
    @media (max-width: 768px) or (max-height: 650px) {
      font-size: 12px;
    }
  }
  &__undertext {
    font-size: 14px;
    font-weight: 400;
    line-height: 257.143%;
    letter-spacing: 5.25px;
    opacity: 0.7463;
    @media (max-width: 1280px) {
      font-size: 12px;
    }
    @media (max-width: 992px) {
      font-size: 10px;
    }
    @media (max-width: 768px) or (max-height: 900px) {
      font-size: 10px;
    }
  }
  &__buttons {
    display: flex;
    justify-content: start;
    column-gap: 20px;
    position: relative;
    left: 5px;
    @media (max-width: 768px) {
      column-gap: 16px;
    }
    & div {
      color: #4AF6CD;
      font-size: 40px;
      font-weight: 800;
      cursor: pointer;
      @media (max-width: 768px) {
        font-size: 30px;
      }
    }
  }
}



.plane-position-1 {
  transform: rotate(8deg) translate(100%, 0px);
}
.plane-position-2 {
  transform: rotate(8deg) translate(0px, 0px);
  transition: transform 0.5s ease 0.5s;
}
.plane-position-3 {
  transform: rotate(8deg) translate(-220%, -200px);
  transition: transform 0.5s ease 0.5s;
}
.block-hide {
  opacity: 0%;
  transition: opacity 0.2s ease 0s;
}
.block-show {
  opacity: 100%;
  transition: opacity 0.2s ease 0s;
}



//------ shop ----------

.shop {
  padding: 5dvh 0px 1dvh 0px;
  height: 100dvh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  @media (max-width: 1280px) {
    padding: 2dvh 0px 1dvh 0px;
  }
  &__title-block {
    margin: 0px 0px 0dvh 294px;
    @media (max-width: 1280px) {
      margin: 0px 0px 0dvh 50px;
    }
  }
  &__body {
    padding: 10dvh 0px 10dvh 0px;
    min-height: 65%;
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width: 1280px) {
      padding: 32px 0px 32px 0px;
      min-height: 75%;
      flex-direction: column;
    }
    @media (max-width: 768px) {
      min-height: 85%;
    }
    @media (max-height: 1180px) {
      padding: 20px 0px 20px 0px;
    }
  }
  &__arrows {
    position: absolute;
    top: 0;right: 80px;
  }
  &__left-block {
    width: 45%;
    padding: 0px 0px 0px 133px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    position: relative;
    z-index: 100;
    @media (max-width: 1280px) {
      width: 100%;
      padding: 0px 0px 0px 40px;
    }
    @media (max-height: 1180px) {
      width: 45%;
      padding: 0px 0px 0px 40px;
    }
  }
  &__subtitle-block {
    margin: 0px 0px 47px 0px;
    flex: 0 0 20%;
    @media (max-width: 1280px) {
      flex: 0 0 auto;
    }
    @media (max-height: 1180px) {
      margin: 0px 0px 5px 0px;
    }
  }
  &__rating {
    margin: 0px 0px 9px 0px;
    display: flex;
    column-gap: 5px; 
    & img {
      width: 22px;
      height: 22px;
    }
  }
  &__price {    
    margin: 0px 0px 67px 0px;
    font-size: 32px;
    font-weight: 800;
    line-height: 125%;
    @media (max-width: 1280px) {
      margin: 0px 0px 22px 0px;
    }
    @media (max-height: 1180px) {
      margin: 0px 0px 15px 0px;
    }
  }
  &__dollar {}
  &__cent {}
  &__two-words {}
  &__right-block {
    position: relative;
    z-index: 10;
    padding: 0px 80px 0px 0px;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    @media (max-width: 1280px) {
      padding: 0px 40px 0px 40px;
      align-items: end;
    }
  }
  &__arrows {
    z-index: 1000;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__additions {}
  &__center-block {}
  &__bg {
    position: absolute;
    right: 0;
    z-index: 1;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: right;
    }
  }
  &__footer {}
}

.center-block {
  padding: 56px 0px 0px 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; right: 0;
  z-index: 100;
  @media (max-width: 1280px) {
    padding: 350px 0px 100px 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 768px) {
    padding: 280px 0px 0px 0px;
  }
  @media (max-height: 1180px) {
    padding: 220px 0px 50px 0px;
  }
  @media (max-height: 880px) {
    //padding: 100px 0px 50px 0px;
  }
  &__boards {
    width: 100%;
    height: 100%;
  }
  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__board {
    width: 100%;
    height: 100%;
    position: relative;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.add-info{
  position: absolute;
  display: flex;
  align-items: center;
  &_1 {
    top: 22%;left: 50%;
    justify-content: start;
    @media (max-width: 410px) {
      left: 35%;
    }
  }
  &_2 {
    top: 60%;right: 50%;
    justify-content: end;
    text-align: right;
    @media (max-width: 410px) {
      right: 30%;
    }
  }
  &_3 {
    top: 85%;right: 50%;
    justify-content: end;
    text-align: right;
    @media (max-width: 410px) {
      right: 40%;
    }
  }
  &__bt {
    display: block;
    cursor: pointer;
    padding: 10px;
    margin: 8px;
    top: 22%;left: 53%;
    width: 40px;
    height: 40px;
    z-index: 15;
    & img {
      position: relative;
      z-index: 10;
      width: 100%;
      height: 100%;
    }
    @media (max-width: 768px) {
      margin: 0px;
    }
  }
  &__line {
    width: 80px;
    height: 1px;
    background: #ffffff;
    @media (max-width: 768px) {
      width: 40px;
    }
    @media (max-width: 590px) {
      display: none;
    }
  }
  &__info {
    margin: 24px;
    font-size: 24px;
    font-weight: 800;
    @media (max-width: 768px) {
      font-size: 16px;
    }
    @media (max-width: 410px) {
      margin: 10px;
    }
  }
}

.additions {
  min-width: 50%;
  @media (max-width: 1280px) {
    min-width: 30%;
  }
  @media (max-width: 768px) {
    display: none;
  }
  &__title {
    margin: 0px 0px 22px 0px;
    font-size: 28px;
    font-weight: 800;
    @media (max-width: 1280px) {
      text-align: start;
    }
    @media (max-width: 768px) {
      font-size: 22px;
    }
  }
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    @media (max-width: 1280px) {
      justify-content: start;
    }
  }
  &__item {}
}

.item-addition {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 56px 0px;
    width: 120px;
    height: 120px;
    @media (max-width: 1280px) {
      margin: 0px 0px 12px 0px;
      width: 60px;
      height: 60px;
    }
    @media (max-height: 1180px) {
      margin: 0px 0px 12px 0px;
      width: 60px;
      height: 60px;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__name {
    margin: 0px 0px 16px 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 122.222%;
    letter-spacing: 8px;
    opacity: 0.5;
    text-align: center;
    @media (max-width: 1280px) {
      margin: 0px 0px 4px 0px;
      letter-spacing: 4px;
      font-size: 16px;
    }
  }
  &__price {
    font-size: 18px;
    font-weight: 800;
  }
}



//----- footer ----------

.footer {
  padding: 0px 0px 0px 0px;
  &__top-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__two-words {
    margin: 0px 0px 29px 0px;
    @media (max-width: 410px) {
      margin: 0px 0px 12px 0px;
    }
  }
  &__last-block {
    font-size: 12px;
    font-weight: 300;
    line-height: 116.667%;
    letter-spacing: 1.05px;
    opacity: 0.5;
    text-align: center;
  }
}


